.nav-parent {
  width:100%;
  background:darkgreen;
}

.navbar-menu {
  display: none;
  justify-content: center;
  margin-top: 5px;
}


.menu-button {
  display: block;
  height: 52px;
  background: transparent;
  box-shadow: none;
}

.menu-button:hover {
  background: transparent;
  box-shadow: none;
}

.logo-navbar {
  background: url(/logo.svg) no-repeat;
  background-size: 35px;
  background-position: 95% center;
}

.fixed {
  position: fixed;
  z-index: 999;
  margin-top: -8px;
}
