.nav-parent {
  width:100%;
  background:darkgreen;
}

.navbar-menu {
  display: none;
  justify-content: center;
  margin-top: 5px;
}


.menu-button {
  display: block;
  height: 52px;
  background: transparent;
  box-shadow: none;
}

.menu-button:hover {
  background: transparent;
  box-shadow: none;
}
