.login {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;


  &-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
    }


  &-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #570003;
    font-size: 17px;
    padding: 16px 30px;
    }

    .btn {
      color: #fff;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(96deg, rgba(241,55,60,1) 0%, rgba(255,122,1,1) 100%);
      margin: 8px 19px;
      padding: 16px 43px;
      border-radius: 32px;

    }
}
body {
  margin: 0;
}
