.login {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;


  &-form {
    color: rgb(124, 124, 124);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
    }


  &-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: rgb(3, 19, 238);
    font-size: 17px;
    padding: 16px 30px;
    }

    .btn {
      color: #fff;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(180deg, rgb(3, 19, 238) 0%, rgb(0, 168, 154) 100%);
      margin: 8px 19px;
      padding: 16px 43px;
      border-radius: 32px;

    }
}
body {
  margin: 0;
}
