.login {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .login-form {
    color: #7c7c7c;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .login-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #0313ee;
    font-size: 17px;
    padding: 16px 30px; }
  .login .btn {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #0313ee 0%, #00a89a 100%);
    margin: 8px 19px;
    padding: 16px 43px;
    border-radius: 32px; }

body {
  margin: 0; }
