.panel-pos {
  margin-top: 3rem; }

.login {
  background: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .login-form {
    color: #7c7c7c;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
    margin-top: 100px;
    padding: 0 25%; }
  .login-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #000a94;
    font-size: 2rem;
    padding: 16px 30px; }
  .login .btn {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(360deg, #DAF7A6 0%, #005e56 100%);
    margin: 8px 19px;
    padding: 16px 43px;
    border-radius: 28px;
    border: none; }

body {
  margin: 0; }

.user-ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center; }
  .user-ul-list {
    width: 35%; }
  .user-ul .icon-img {
    width: 35%; }
  .user-ul .player {
    width: 100%; }

.card-image .player {
  max-width: 100%;
  margin: auto; }

.panel-pos {
  margin-top: 3rem; }

.signup {
  background: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .signup-form {
    color: #7c7c7c;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
    margin-top: 100px;
    padding: 0 25%; }
  .signup-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #000a94;
    font-size: 17px;
    padding: 16px 30px; }
  .signup .btn {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(360deg, #DAF7A6 0%, #005e56 100%);
    margin: 8px 19px;
    padding: 16px 43px;
    border-radius: 28px;
    border: none; }

body {
  margin: 0; }

.nav-parent {
  width: 100%;
  background: darkgreen; }

.navbar-menu {
  display: none;
  justify-content: center;
  margin-top: 5px; }

.menu-button {
  display: block;
  height: 52px;
  background: transparent;
  box-shadow: none; }

.menu-button:hover {
  background: transparent;
  box-shadow: none; }

.logo-navbar {
  background: url(/logo.svg) no-repeat;
  background-size: 35px;
  background-position: 95% center; }

.fixed {
  position: fixed;
  z-index: 999;
  margin-top: -8px; }

.form-edit {
  padding: 50px;
  margin-bottom: 30px; }
